
.postShare {
    background-color: #fff;
    padding: 25px;
    display: flex;
    justify-content: center;
    gap:20px;
    border-radius: 20px;
    .profile-img-sm {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .post-options {
        display: flex;
        flex-direction: column;
        gap:32px;
        input {
            padding: 14px 20px;
            font-size: 18px;
            font-weight: 200;
            border: none;
            border-radius: 10px;
            background: #EAEAEA;
        }
        .post-option-icons {
            display: flex;
            justify-content: space-between;
            gap:35px;
            .icon {
                display: flex;
                gap:15px;
                align-items: center;
                cursor: pointer;
            }
            .shareBtn {
                button {
                    padding: 8px 28px;
                    border: none;
                    border-radius: 10px;
                    background: linear-gradient(122deg, #F3F820 0%, #E40202 100%);
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .preview-img {
        position: relative;
        margin-top: 20px;
        svg {
            position: absolute;
            top:20px;
            right: 20px;
            font-size: 25px;
            cursor: pointer;
        }
        img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}