
.Sharebtn {
    text-align: center;
    button {
        padding: 19px 102px;
        border-radius: 10px;
        background: linear-gradient(124deg, rgba(243, 248, 32, 0.92) 0%, rgba(228, 2, 2, 0.93) 100%);
        border: none;
        color: #FFF;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
    }
}