@import "../../css-config/mixins.scss";

.home {
    display: grid;
    grid-template-columns: 22rem auto 22rem;
    gap:20px;
    width: 1500px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 25px;
}